<div class="row navbarback">
    <div class="col-1 gif-edit">
      <%= image_tag("logos/navbarimg1.gif", width: '170cm') %>
    </div>
    <div class="col-1">
    </div>
    <div class="col-2 bt-edit navbar">
      <h2> <a href='#'>Bihar Tourism</a></h2>
    </div>
    <div class="col-8" >
      <nav class="navbar navbar-expand-lg navbar-light topnav">
        <a class="navbar-brand" href="#">EXPERIENCE BIHAR</a>
        <a class="navbar-brand" href="#">PLAN YOUR JOURNEY</a>
        <a class="navbar-brand" href="#">WHERE TO STAY</a>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ABOUT
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Ancient Glory</a>
                <a class="dropdown-item" href="#">The Legends</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Support</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <!-- <div class="col-1">
      <ul class="social-menu">
        <li class="top-share"><a href="http://www.youtube.com/bihartourism" class="yt" target="_blank"><i class='fa fa-youtube'></i></a></li>
        <li class="top-share"><a href="https://www.facebook.com/bihartourismofficial" class="fb" target="_blank"><i class='fa fa-facebook'></i></a></li>
        <li class="top-share"><a href="http://twitter.com/bihartourism" class="tw" target="_blank"><i class='fa fa-twitter'></i></a></li>
        <li class="top-share"><a href="https://www.instagram.com/bihartourism/?hl=en" class="ig" target="_blank"><i class='fa fa-instagram'></i></a></li>
      </ul>
    </div> -->
  </div>